plugins/SASLFree/data/output
A318_prefs.txt

### StarSquared99 ###
cockpit_new.blend
cockpit_new.blend1
Textures/*.psd

### Planemaker temp ###
*.acf~

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### XFMC ###
A318.cfg

### VisualStudioCode Patch ###
# Ignore all local history of files
*.history

luacov.stats.out
